@charset "utf-8";
/* CSS Document */

/***Browser Reset Code***/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0; font-family: Arial, Helvetica, sans-serif;}
body{}
img a{border:0;}
a{color:#365093; text-decoration:none;}
p, h3{font-family: Arial, Helvetica, sans-serif;}
p{font-size:13px; line-height:20px;}
a:hover{text-decoration:underline;}
table {border-collapse:collapse;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none inside; } 
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
abbr,acronym { border:0;}
.clearall{clear:both;}
/***Browser Reset Code End***/ 
.ls-canvas .ls-area
{ overflow:visible;}.ls-canvas .ls-area-body{overflow:visible;}.ls-canvas .ls-area .ls-1st{margin:0 ;}.ls-canvas .ls-cmp-wrap{padding: 0;}.ls-canvas .iw_component{margin: 0; /*position:inherit;*/}.ls-row-clr{clear:both !important;}



