<footer ng-controller="FooterCtrl" id="footer-container">
    <div class="container footer-links">
        <div class="row">
                           
                
                
                <div class="col-md-3 col-sm-3 col-xs-4 social-buttons">
                <span class="follow nascosto-tab">Follow hotstar</span>
                <a ng-href="{{linkFacebook}}" target="_blank" class="social social-facebook"></a>
                <a ng-href="{{linkTwitter}}" target="_blank" class="social social-twitter"></a>
                <a ng-href="{{linkgplus}}" target="_blank" class="social social-gplus"></a>

            
            </div>
                <div class="col-md-5 col-sm-5 col-xs-5 text-center istitutional">
                <p>
                    <a href="#!/about-us">About hotstar</a>|<a href="#!/terms-of-use">Terms of Use</a>|<a href="#!/privacy-policy">Privacy Policy</a>|<a href="#!/feedback">Feedback</a><!--<a href="#">Advertise</a>
                     -->|<a href="#!/faq">FAQ</a><br /> © 2015. All Rights Reserved.
               </p>
               </div>

             <!--  <div class="col-md-4 text-right pull-right visibile-tab">
                    <a  ng-click="linkAppStore()" class="appstore" ></a>
                    <a  ng-click="linkGooglePlay()" class="googleplay"></a>
                </div> -->
                <div class="pullRight">
                    <a  ng-click="linkAppStore()" class="col-md-3 col-sm-2 col-xs-2 appstore" ></a>
                    <a  ng-click="linkGooglePlay()" class="col-md-3 col-sm-2 col-xs-2 googleplay"></a>
                </div>
              
            <div class="clearfix"></div>
            </div>
          
       </div>
    </div>
</footer>
