/* homepage */
.homepage_box1 .box_wrap.spacing{margin: 0px 43px;}
.nav_menu{margin-left:60px}
.mn_headershoskele_small{right:-61px;}
.mn_headershoskele_small img{width:300px;height:45px;right:-61px;}
.cmplogo_rollerlist{width:918px;}
.cmplogo_roller_inner{width:1006px;}
.ds_header{width:100%;}
.social_mon.header {display:none;}
.homepage_box2 .box_wrap.mrgn.gulf{width: auto;margin: 20px 0px 0px 0px;}
.homepage_box2 .box_wrap.mrgn.gulf:before{padding:0px 5px;}
.homepage_box_inner{width:986px;margin:0px 10px;}
.homepage_box2 .box_wrap.mrgn{margin:25px 43px 0px 43px;}
.footer_response{width:980px; margin:0 auto;}
.footer_table .footer_column.space_both{padding:0px 5px;}
.footer_table .footer_column.space_right{padding-right:0px;}
body .ds_header{min-width:1005px;}
.cm_tbl{width:980px; margin: 0 auto;}
.cm_tbl_cell{padding:10px;}
.sidebar_cell{display:none;}
.main_cell{width:100%;}
.social_mon.footer a{margin-right:19px;}
.footer_table .footer_column .footerrbox{padding:10px;}
.cmplogo_roller_inner .header {padding-right: 43px;}

