@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular'), url(http://fonts.gstatic.com/s/asap/v4/oiVlPAjaPL0EznW3E5Z2DQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/asap/v4/SgBaq0dzhSGNMfqm2JX5ng.woff) format('woff');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: local('Asap Bold'), local('Asap-Bold'), url(http://fonts.gstatic.com/s/asap/v4/YUlqaYZPVSsAAN2ZtG3iyA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/asap/v4/yVILXKVgPzaz72DegpV7Bg.woff) format('woff');
}
