/* homepage */
.footer_response{width:auto;padding-left:10px;padding-right:10px;}
.footer_table .footer_column.space_both{padding:0px 10px;}
.footer_table .footer_column.space_right{padding-right:15px;}
.footer_table .footer_column .footerrbox{padding:10px;}
.social_mon.footer a{width:20px;height:20px;text-decoration:none;outline:0;display:block;margin-right:15px;}
.cm_tbl_cell{padding:10px;}
.ds_header{width:1265px;}
.cmplogo_roller_inner .header{padding-left: 75px;}
.mn_headershoskele_small{right:-180px;}
